.xterm .xterm-viewport {
    /* On OS X this is required in order for the scroll bar to appear fully opaque */
    background-color: transparent;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    scrollbar-color: #444 #222;
    scrollbar-width: thin;
    height: 100%;
    width: 100%;
}

.xterm-viewport::-webkit-scrollbar {
    width: 1px;              /* 스크롤바 너비 */
    background-color: #222;  /* 트랙 배경 색상 */
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: #444;        /* 엄지 색상 */
}

.xterm-viewport::-webkit-scrollbar-button {
    display: none;           /* 스크롤바 화살표 숨기기 */
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.col {
    padding: 10px;
    border: 1px solid #ccc;
}